<!-- BEGIN bubble -->
<div class="bubble {{size}}">

    <!-- BEGIN bubble__main -->
    <div class="bubble__main">
        {{#if image }}
            {{#resolveSvg image}}
                <img src="{{icon}}" alt="{{caption}}"/>
            {{/resolveSvg}}
        {{else}}
            {{#if textStyles }}
                <p class="{{textStyles}}">{{text}}</p>
            {{else}}
                <p>{{text}}</p>
            {{/if}}
        {{/if}}
    </div>
    <!-- END bubble__main -->

    <p class="bubble__caption">{{caption}}</p>
</div>
<!-- END bubble -->
